mixin video(video) 
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb 
        div.video-mixin__data
            if !video.owner.avatarUrl
                img.video-mixin__avartar(src="/uploads/img/notimage.png")   
            else if video.owner.socialOnly == true
                img.video-mixin__avartar(src=video.owner.avatarUrl)
            else 
                img.video-mixin__avartar(src="/" + video.owner.avatarUrl)
            span.video-mixin__title=video.description
        div.video-mixin__owner
            span=video.owner.name
        div.video-mixin__meta
            span=`조회수 ${video.meta.views} 회 , `
            span=`${video.creatAt.getDate()} 일 생성`  

                  