mixin video(video) 
    a(href=`/videos/${video.id}`).video-mixin
        div.video-mixin__thumb 
        div.video-mixin__data
            img.video-mixin__avartar(src="/" + loggedInUser.avatarUrl)
            span.video-mixin__title=video.description
        div.video-mixin__owner
            span=video.owner.name
        div.video-mixin__meta
            span=`조회수 ${video.meta.views} 회 , `
            span=`${video.creatAt.getDate()} 일 생성`  

                  